@font-face {
	font-family:leaguespartan;
	src: url(leaguespartan-bold.ttf);
}

* {
		margin: 0;
		padding: 0;
		border:0;
	}

body {
	background-color:white;
	color:#2b3956;
	font-family: 'Libre Baskerville', serif;
	height:100%;

}
header {
	background-color:white;
	width:100%
	height:100px;font-size:14px;
}
#header-inner{
	max-width:1400px;
	margin: 0 auto;
}
nav {
	float:right;

}

ul {
	list-style-type: none;
	margin:0;
	padding-top:30px;
	padding-right:30px;


}
.footul {padding-top:10px;
	padding-left:0px;
	padding-right:0px;

}
li {
	display:inline;
	padding:20px;

}
a:link	{
		text-decoration:none;
		color:#2b3956;
	
		}
a:visited {
		text-decoration:none;
		color: #2b3956;
		
		
		 }

a:hover {
    text-decoration: none;
    cursor:pointer;
    
}
a.pinklink:link {
	font-weight:bold;
	font-size:110%;
}
a.pinklink:hover {
	color:white;
}
a.dropdownport:hover {
	color:white;
}
a.dropdownport:active {
	color:white;

}
a.footer {
	color:white;
	font-size:12px;
}
a.footer:hover {
	color:white;
}
#bottomlogo {

	margin-left:48%;
	position:absolute;
	margin-top:-25px;

}
#menu-icon {
	display:hidden;
	width:40px;
	height:40px
	background: url(menudrop.png) no-repeat center;
}


#logo{
	 -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	background-image: url('logo.png');
	background-repeat:no-repeat;
	position:center;
	margin-left:5%;
	margin-top:20px;
	float: left;
	width:80px;
	height:80px;
}

#logo:hover {
	background-image:url('logo2.png');
	position:center;

	float: left;
	width:80px;
	height:80px;
	background-repeat:no-repeat;
}

#lysandravuong 	{
	margin-left:10%;
	height:190px;
	width:600px;
	display:block;
	font-family:leaguespartan;
	font-size:300%;
	line-height:70px;


}

#banner {
	padding-top:290px;

	width:100%;
	margin-right:10%;
	background-color:white;
	height:auto;
	display:block;
	height:auto;
}

#cityscape {
	width:1030px;
	float:right;
	margin-left:2%;
	margin-right:2%;
	display:block;



}
#overview {

padding-top:200px;
}

.blank1 { 
width:80%;
height:auto;
padding-bottom:10%;}
.portfolioimg {
	width:90%;
	height:auto;
	

}
#portfoliothumb1
{ -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
width:100%;

 display:block;
 background:transparent url('artgallery2.png') center top no-repeat;
 background-size:100%;

 position:center;
}

#portfoliothumb1:hover {
   background-image: url('artgallery1.png');
}

#portfoliothumb2
{ -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
width:100%;

 display:block;
 background:transparent url('graphicdesign2.png') center top no-repeat;
 background-size:100%;

 position:center;
}

#portfoliothumb2:hover {
   background-image: url('graphicdesign.png');
}
#portfoliothumb3
{ -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
width:100%;

 display:block;
 background:transparent url('webdesign2.png') center top no-repeat;
 background-size:100%;

 position:center;
}

#portfoliothumb3:hover {
   background-image: url('webdesign1.png');
}

.img {

width:300px;
height:300px;
position:inline;
padding:40px;




}
a.imglink:link {
	 -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

a.imglink:hover {
	opacity:.6;
}

.spacer {
	width:33.333%;
	float:left;
	text-align:center;


}

#thumbs{
	width:80%;
padding-top:50px;
	margin-left:10%;
	margin-right:10%;
position:inline;

height:100%;
display:inline-block;
padding-bottom:180px;
}

.port {
	align:center;
}


.pn{
margin-top:5%;
width:100%;
text-align:center;
height:30px;
display:inline-block;
}

a.prevnext {



}

.description {
	width:50%;
	margin-left:25%;
	margin-right:25%;
	margin-bottom:10%;
	margin-top:3%;
	text-align:center;
	display:block-inline;
}

.fullsize {

width:70%;
height:auto;
margin-left:15%;
margin-right:15%;
margin-top:70px;


}









#designer {

font-family: 'Libre Baskerville', serif;
font-size:50%; 
line-height:10px;
}

.dropbtn {
    background-color: white;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
}

.dropbtn:hover {
	color:#2b3956;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	color:#2b3956;
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    color:#2b3956;
}


#pinksection {
	width:100%;
	
	background-color:#ffe3cc;
	display:inline-block;
	padding-top:6%;
	padding-bottom:6%;
	text-align:center;

}

.circleicon {
	width:210px;
	height:auto;
	margin:60px;

}
td {
	display:inline;
}
.one-third {
	width:33.333%;
	float:left;
	text-align:center;


}
#pinktext {
text-align:center;
width:100%;
font-family: leaguespartan;
font-size:200%;

}

p{
	padding-left:30px;
	padding-right:30px;
	line-height:24px;
}
.bio {
	line-height:30px;
	font-size:90%;
}
#whitesection {
	text-align:center;
	font-size:120%;
	padding-top:200px;
	padding-bottom:200px;
	line-height:38px;
}

footer {
	background-color:#2b3956;
	padding-top:50px;
	margin-bottom:0px;
	padding-bottom:50px;
	text-align:center;
	color:white;
	font-size:12px;
	line-height:180%;
	display:block;
	height:200px;
bottom:0;
}
.footer2 {
	background-color:#2b3956;
	margin-top:300px;
	padding-top:50px;
	margin-bottom:0px;
	padding-bottom:50px;
	text-align:center;
	color:white;
	font-size:12px;
	line-height:180%;
	display:inline-block;
	height:200px;
width:100%;



}

 .footertext {
  	font-size:130%;
  }


#deviantart{
	width:40px;
	height:40px;

	background-repeat: no-repeat;

	 background-size: cover;


}

#linkedin {
	width:40px;
	height:40px;

	background-repeat: no-repeat;

	 background-size: cover;

}



a.button {
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    text-decoration: none;
    background-color: white;
    border: 1px solid #2b3956;;
    color: #2b3956;;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
   font-weight:bold;
   border-radius:15px;
   font-family:leaguespartan;
    
   
}

#ugh {
	width:100%;
	margin:0;
	display:block;
}

a.button:hover {
    background-color: #2b3956;;
    border: 1px solid #eaebef;
    color: #eaebef;
    }
  .circ {
  	width:80%
  ;
  height:80%;
  	float:right;
  	min-width:200px;
  	min-height:auto;
  	padding-bottom:50px;
  	padding-left:10%;
  	padding-right:10%;
  	padding-top:30px;
  }

  #left {
  	padding-top:200px;
width:30%;
float:left;
display:inline;





  }
  .bars {
  	width:400px;
  	height:auto;
  }

  #greybox {
  	background-color:#e4e4e4;
  	width:100%;
  	text-align:center;
  	padding-bottom:100px;

  }


#right {
	width:50%;
	padding-top:120px;
	float: left;
	padding-right:10px;
display:inline;
margin-left:50px;}

#fun {

}


h3 {
	font-family:leaguespartan;
	font-size:20px;
}
h2 {
	font-family:leaguespartan;
	color:#e4e4e4;
	font-size:30px;
	margin-left:26px;
}


a.bluebutton {
   -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    text-decoration: none;
    background-color: #2b3956;
    border: 1px solid white;;
    color: white;
    padding: 8px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
   font-weight:bold;
   border-radius:10px;
   font-family:leaguespartan;
    




	}
  @media screen and (max-width:1200px){



.spacer {
	width:50%;
}
}
 @media screen and (max-width:800px){
.spacer {
	width:100%;

padding-top:50px;
	margin:0px;
position:inline;
}
}
@media screen and (max-width:930px){

#ugh {
	overflow-x: hidden;

}
#right {
	display:block;
	width:80%;
	margin-left:10%;
	margin-right:10%;
	overflow-x:hidden;

}

#left {
	padding-top:5%;
	width:100%;
	overflow-x:hidden;
}
.circ {
	width:40%;
	display:block;
	float:left;
	margin-left:20%;
	margin-right:20%;
}
#greybox {
	display:inline-block;
	width:100%;
	text-align:center;
	overflow-x:hidden;

}

.bars {
	width:80%;
}

}

@media screen and (max-width:700px){

.one-third {
	display:block;
	width:100%;

}
p {
	width:70%;
	margin-left:10%;
}
nav {
	
	top:0px;
	padding:0px;
}
li {padding:10px;}
#logo {
	background-image:url(logomini.png);
	width:50px;
	height:50px;
}
#banner {
	padding-top:180px;
}
#lysandravuong {

	font-size:200%;
	line-height:50px;	
}

#logo:hover {
	background-image:url('logo2.1.png');
	position:center;
	margin:20px;
	float: left;
	width:50px;
	height:50px;
	background-repeat:no-repeat;
}


}

@media screen and (max-width:500px){
#ugh {
	overflow-x: hidden;
	font-size:80%;

}
.bio {
	line-height:180%;
}
.circ {
	margin-left:16%;
}
}


 
